body 
{
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: #3b3b3b;
}

.container 
{
    margin-top: 50px;
    padding: 20px;
    background: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0px 0px 6px rgba(188, 31, 250, 0.1);
}

input 
{
    padding: 10px;
    margin: 10px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
}

button 
{
    padding: 10px 15px;
    border: none;
    background-color: #3a4add;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover 
{
    background-color: #142196;
}

#resultado 
{
    margin-top: 20px;
    font-size: 18px;
}
